<section class="header">
        <section class="top-header">

                <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                </div>

                <div class="address">
                    <span><i class="fas fa-map-marker-alt adr-icon"></i>Bafal, Kathmandu, Nepal</span>
                    <span><i class="fas fa-phone adr-icon"></i>9809731638</span>
                </div>
            </section>

            <section class="down-header">

                <div class="nav-menu">
                    <ul>
                        <li><a href="{% url 'paragraph' %}">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </section>

</section>